<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        timeoutForSmallTests="5"
>
    <testsuite name="Internal tests">
        <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./includes/Hbelv</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
                <directory suffix=".php">./tests</directory>
                <file>./create-sitemap.php</file>
                <file>./hbelv.php</file>
            </exclude>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>external-http</group>
        </exclude>
    </groups>
</phpunit>